<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8"/>
		<title>Title Here!</title>
		<meta name="description" content="The text here describes what the webpage
		is about. It's what will show up in search results for search engines like
		google under the title of the webpage. It's important that this is relevant
		to your page and well written!">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><!--  Twitter Bootstrap -->
		{% load static %}
		 <link rel="stylesheet" href="{% static 'login_app/style.css' %}" media="screen" title="no title"  charset="utf-8"> <!-- my style.css -->
		
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>Welcome to the Belt Exam</h1>
				</div>
			</div>
			{% if messages %}
			<div class="row">
				<ul class="messages">
						{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						{% endfor %}
				</ul>
			</div>			
			{% endif %}
			<div class="row">
				<div class="col-6">
					<p>Register</p>
					<form action="/register" method="POST">
						{% csrf_token %}
						<p>Name: <input type="text" name="name"></p>
						<p>Alias: <input type="text" name="alias"></p>
						<p>Email: <input type="text" name="email"></p>
						<p>Password <input type="password" name="password"></p>
						<p>Comfirm PW: <input type="password" name="confirm_password"></p>
						<!-- <p>Date of Birth <input type="date" name="birthday"></p> -->
						<input type="submit" name="submit" value="Register">
					</form>
				</div>
				<div class="col-6">
					<p>Login</p>
					<form action="/login" method="POST">
						{% csrf_token %}
						<p>Email: <input type="text" name="email"></p>
						<p>Password: <input type="password" name="password"></p>
						<input type="submit" name="submit" value="Login">
					</form>
				</div>
			</div>
		</div>
	</body>
	</html>